@import "variables.less";

.container {
  overflow: hidden;
}
.slider {
  position: absolute;
  margin: 0 15%;
  width: 70%;
  bottom: 1.5em;
}

.date {
  font-family: 'Tangerine';
  position: absolute;
  color: @gofun;
  font-size: 5em;
  right: 1em;
  bottom: 1em;
  outline: none;
  background: none;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  user-select: none;
}

.trend {
  position: absolute;
  bottom: 1.5em;
  left: 15%;
  width: 70%;
  height: 3em;
}

.prevDay,
.nextDay {
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  user-select: none;
  position: absolute;
  bottom: 0.55em;
  font-size: 3em;
  color: @maso;
  outline: none;
  background: none;
  border: none;
  width: 1em;
  height: 1em;
  line-height: 1em;
  padding: 0;

  i:before {
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    user-select: none;
  }
}

.prevDay {
  left: 5%;
}
.nextDay {
  right: 5%;
}

.show {
  transform: scaleY(1);
}

.hide {
  transform: scaleY(0);
}

@media (max-width: 768px) {
  .prevDay,
  .nextDay {
    bottom: 0.65em;
  }
}

@media (max-width: 568px) {
  .prevDay,
  .nextDay {
    bottom: 1em;
  }
  .date {
    bottom: 1.2em;
  }
  .slider {
    margin: 0 20%;
    width: 60%;
    bottom: 3em;
  }

  .trend {
    left: 20%;
    width: 60%;
    bottom: 3em;
  }
}
