@import "variables.less";

.container {
  overflow: hidden;
}
.slider {
  position: absolute;
  margin: 0 10%;
  width: 80%;
  bottom: 20px;
}

.date {
  font-family: 'Tangerine';
  position: absolute;
  color: @gofun;
  font-size: 5em;
  right: 10%;
  bottom: 50px;
}
