@import "variables.less";

.container {
  overflow: hidden;
}
.slider {
  position: absolute;
  margin: 0 15%;
  width: 70%;
  bottom: 2em;
}

.date {
  font-family: 'Tangerine';
  position: absolute;
  color: @gofun;
  font-size: 5em;
  right: 10%;
  bottom: 1em;
}

.prevDay,
.nextDay {
  position: absolute;
  bottom: 0.25em;
  font-size: 3em;
  color: @maso;
  outline: none;
  background: none;
  border: none;
}

.prevDay {
  left: 5%;
}
.nextDay {
  right: 5%;
}

@@media (max-width: 768px) {  
  .prevDay,
  .nextDay {
    bottom: 0.3em;
  }
}
