@import "variables.less";

.page {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Tangerine', "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  transition-duration: 0.2s;
  transition-property: right;
  z-index: 3;
  background-color: @sumi;
  color: @gofun;
  padding-top: 25px;
  &.open {
    left: 0;
    box-shadow: @shadow;
  }
  &.close {
    left: -100vw;
  }
}

.closeButton {
  position: absolute;
  left: 5%;
}

.lead {
  text-align: center;
  font-size: 4em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 25px;
}

@media(max-width: 568px) {
  .lead {
    font-size: 2em;
    line-height: 2em;
  }
}
