@import "variables.less";

.placeDetail {
  width: auto;
  height:calc(100vh - 25px - 2.5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 15em;
  margin: auto;
  font-size: 1.25em;
}
