@import "variables.less";

.placeDetail {
  width: auto;
}
.best {
  width: 320px;
  height: 160px;
}

.button {
  width: 15em;
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-left: -1.75em;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.photo {
  background-size: cover;
  background-position: center;
  background-color: initial;
  width: 150px;
  height: 150px;
  filter: grayscale(0.5) brightness(0.75);
  transition-duration: 0.2s;
  transition-property: filter, transform;
  margin: 5px;
}

.link:hover .photo{
  filter: none;
  transform: scale(1.25);
}

.item {
  z-index: 1;
}
.item:hover {
  z-index: 2;
}

@media (max-width: 768px) {
  .photo {
    filter: none;
  }
  .link:hover .photo{
    transform: none;
  }
}

@media (max-width: 568px) {
  .photo {
    width: 300px;
    height: 300px;
  }
}
