@import "variables.less";

.placeDetail {
  width: auto;
}

.button {
  width: 15em;
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-left: -1.75em;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  background-size: cover;
  background-position: center;
  background-color: initial;
  width: 150px;
  height: 150px;
  filter: grayscale(0.75) brightness(0.75);
  transition-duration: 0.2s;
  transition-property: filter, transform;
}

.item:hover{
  filter: none;
  transform: scale(1.25);
  z-index: 2;
}
